.bg-iamge {
    width: 100%;
    height: 655px;
    background-image: linear-gradient(
            180deg,
            #000000 -73.06%,
            rgba(0, 0, 0, 0) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/bb44/f22c/2fcbabaf010cb85f7ec0f7f985f2469b?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dLS9bydccWyP5dzqFB2ZjkESSWl88iaoCUh9Yf-0j3GbQmQPhFgvn8qViMFqDs4qbqr4dOgzdHeBMI2t4BWkf361~OwdmknnCZwSRBKbzDI4RlhK6K114oxR6hl8S9rDiZT1ViwRlkZI~sL0fm1iGlpif84N-ZuzzGgfBDGRmv4EVdPP8Ce0bQp871WV8OyjcEt5Y-plGR-xm67MiZa8CHyHciHB2NMl3H5AzoRYT0DbS8C44r4dNiH8Pgo-oecbVADw8gZUsN1ySgCHHVXdYcfWN1gkWp~XZWCbe01ieJmUD6saG-2U66GxEdVb3mJv4A5anu-~ct1zysx~ZgXdag__);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
