.section1__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.section1 {
    padding: 180px 0px 200px 0px;
}

.section1__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 52.5px;
    margin-bottom: 80px;
    text-align: center;
}

.section1__card {
    width: 300px;
    border: 3px solid #f3f1f1;
    background-color: #f3f1f1;
}

.section1__card img {
    width: 294px;
    height: 266px;
    border-radius: 5px;
}

.section1__card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
    background-color: white;
    cursor: pointer;
}

.section1__card-text h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.5px;
}

.section1__card-text-price {
    display: flex;
    align-items: center;
    gap: 12px;
}

.section1__card-text-price .span1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: 0.5px;
    color: #40bfff;
}

.section1__card-text-price del {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #9098b1;
}

.section1__card-text-price .span2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fb7181;
}

.load-more-button {
    display: block;
    margin: 20px auto;
    color: #33a0ff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    background-color: white;
}

.load-more-button:hover {
    border-bottom: 3px solid #33a0ff;
}

.product-rating {
    display: flex;
    justify-content: center;
}

.star {
    font-size: 20px;
    color: #ccc;
    margin-right: 5px;
}

.star.filled {
    color: #ffc600;
}

.section1__card-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1__card-overlay img {
    width: 294px;
    height: 266px;
    border-radius: 5px;
}

.section1__card-overlay .opacity {
    display: none;
    position: absolute;
    z-index: 1;
    width: 278px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2px;
}

.section1__card-overlay:hover {
    .opacity {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

.section1__card-button1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(233, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1__card-button2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(233, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1__card-button1 svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.section1__card-button2 img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
